.b-navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #e1d3b6;
  }
  
  .b-navbar-link {
    /* float: left; */
    display: inline;
     color: black; 
    text-align: center;
    padding: 5%;
    font-size: 30px;
  }