.b-navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e1d3b6;
}
.navbar{
  background-color: #e1d3b6;
}
.b-navbar-link {
  float: left;
  display: block;
   color: black; 
  text-align: center;
  padding: 14px 25px;
  font-size: 30px;
}
.home-icon{
  float: left;
  color: black;
  font-size: 30px;
}
.wallet-icon{
  float: right;
  color: black;
  font-size: 30px;
  padding-right: 5px;
}
/* .navbar a:hover {
  background: #f1f1f1;
  color: black;
} */

/* .navbar a.active {
  background-color: #04AA6D;
  color: white;
} */

.main {
  padding: 16px;
  margin-bottom: 30px;
}