.markdown {
  @apply text-sm leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6 text-justify;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown p.intro {
  @apply text-xl text-left;
}

.markdown a {
  @apply font-bold underline;
}

.markdown ol > li, .markdown ul > li  {
  @apply ml-4 text-justify pb-1;
  list-style: auto;
}

.steps {
  @apply mt-3;
}

.steps h1, .steps h2 {
  @apply text-xl my-2 font-bold leading-snug uppercase;
}

.steps h3 {
  @apply my-2 font-bold leading-snug uppercase;
}

.steps ol {
  @apply text-accent-3 mt-0 ml-4;
  list-style: auto;
}

.steps a {
  @apply text-accent-3 font-bold underline;
}

.markdown blockquote, 
.markdown p blockquote {
  display: block;
  @apply text-xl text-left;
}

.markdown pre {
  overflow-x: scroll;
  font-family: monospace;
}

.markdown * {
  word-wrap: break-word;
}

.about h2 {
  @apply text-2xl m-0 text-accent-3 leading-snug;
}
