.b-navbar {
    overflow: hidden;
    background-color: white;
    bottom: 0;
    width: 100%;
    padding: 10px;
}
.navbar {
  background-color: #e1d3b6;
}

.b-navbar-link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.home-icon {
    float: left;
    color: black;
    font-size: 30px;
    padding: 10px;
}
.wallet-icon {
    float: right;
    color: black;
    font-size: 30px;
    padding: 10px;
}

.title {
    text-align: center;
    background-color: #e1d3b6;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    /* identical to box height */
    font-family: 'League Spartan', sans-serif;
    letter-spacing: -0.333333px;
    color: #58451e;
}

.vtitle {
    text-align: left;
    font-style: bold;
    font-family: 'League Spartan', sans-serif;
    padding: 10px 10px 1px 10px;
    color: #000000;
}

.more {
    padding: 20px;
    background: #234A8D;
    line-height: 21px;
    height: 54px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    align-items: center;
    color: #FFA800;
    font-family: 'League Spartan', sans-serif;
}
.text {
    text-align: left;
    color: #234a8d;
    font-size: 18px;
    padding: 1px 10px 10px 10px;
    font-family: 'League Spartan', sans-serif;
}
/* .navbar a:hover {
  background: #f1f1f1;
  color: black;
} */

/* .navbar a.active {
  background-color: #04AA6D;
  color: white;
} */

.main {
  padding: 16px;
  margin-bottom: 30px;
}
.videos {
    background-color: #e1d3b6;
    text-align: center;
    padding: 10px;
    font-family: 'League Spartan', sans-serif;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
 
}

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        padding: 10px;
    }
