@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Domine', serif !important;
  z-index: 0;
}


span.site-title {
  font-family: 'Rock Salt', cursive !important;
}
